[Unit]
Description=Mirantis ceph historic ops dumper
After=multi-user.target

[Service]
Environment=PYTHONUNBUFFERED=1
Type=simple
User={USER}
ExecStart={PYTHON} {PY_FILE} --log-level {LOG_LEVEL} --log {LOG_FILE} record {DUMP_UNKNOWN_HEADERS} \
    --packer {PACKER} --min-duration {MIN_DURATION} --duration {DURATION} --size {SIZE} \
    --http-server-addr {STATUS_CONN_ADDR} {PRIMARY} {RESULT}
StandardOutput=null
