[Unit]
Description=Mirantis ceph historic ops dumper
After=multi-user.target

[Service]
Environment=PYTHONUNBUFFERED=1
Type=simple
User={USER}
ExecStart={PYTHON} {PY_FILE} --log-level DEBUG --log {LOG_FILE} record {DUMP_UNKNOWN_HEADERS} --packer {PACKER} --min-duration {MIN_DURATION} --duration {DURATION} --size {SIZE} {PRIMARY} {RESULT}
StandardOutput=null
